@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;600;700;800;900&display=swap');
$font: Lexend, sans-serif;
// $background: #fefeff;
$background: #1a1a1d;

.app {
    display: flex;
    font-family: $font;
    // height: 100vh;
    width: 100%;
    .container{
        // background-color: $background;
        width: 100%;
        //HERO
        .hero {
            background-image: url("../data/assets/noise-texture-100x100.png");
            display: flex;
            background-color: $background;
            width: 100%;
            height: 100vh;

            .container{
                display: flex;
                // align-items: center;
                flex-direction: column;
                height: 100vh;
                width: 100%;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 40px;
                
                .name {
                    width: 80%;
                    font-size: 60px;
                    color: #df4938;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                }
                .desc {
                    display: flex;
                    justify-content: center;
                    // text-align: center;
                    width: 70%;
                    color: #e6e5e1;
                }

                .buttons {
                    display: flex;
                    gap: 30px;
                    padding-top: 30px;
                    
                    button {
                        cursor: pointer;
                        font-family: $font;
                    }

                    .download {
                        background-color: transparent;
                        color: #689775;
                        border: 1px solid #689775;
                        padding: 10px;
                        font-weight: 300;
                        border-radius: 10px;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        text-decoration: none;

                        &:hover {
                            background-color: #689775;
                            color: $background;
                        }
                    }

                    .portfolio {
                        background-color: #689775;
                        border-radius: 8px;
                        font-weight: 500;
                        border: none;
                        color: $background;
                        padding: 10px;
                        display: flex;
                        text-decoration: none;
                        gap: 10px;
                        align-items: center;

                        &:hover {
                            background-color: $background;
                            color: #689775;
                            border: 1px solid #689775;
                        }
                    }
                }

            }
        }
        
        // Navbar
        .navbar {
            background-image: url("../data/assets/noise-texture-100x100.png");
            z-index: 4;
            position: sticky;
            top: 0;
            // background-color: $fontColor;
            // background-color: #689775;
            background-color: $background;
            // background-color: #379683;
            .container {
                display: flex;
                // justify-content: space-between;
                flex-direction: row;
                gap: 40%;
                // background-color: #6a8d73;
                // font-family: $font;
                padding: 10px 0px 10px 0px;
                // border-bottom: 5px solid #6f2232;
                border-bottom: 3px solid #ff4330;
                
                .logo {
                    font-size: 25px;
                    color: #df4938;
                    text-decoration: none;
                    // background-color: $fontColor;
                    font-weight: 600;
                    padding: 5px;
                    // border: 2px solid #df4938;
                    align-items: center;
                    margin-left: 20px;
                    border-radius: 8px;
                }
                .links {
                    display: flex;
                    gap: 40px;
                    align-items: center;
                    .clicked {
                        text-decoration: none;
                        color: #689775;
                        border-bottom: 2px solid #689775;
                        padding: 10px;
                        font-weight: 700;
                        font-size: 15px;
                        background-color: transparent;
                    }
                    .link {
                        text-decoration: none;
                        color: #df4938;
                        // border-radius: 8px;
                        padding: 10px;
                        font-weight: 700;
                        font-size: 15px;
                        &:hover {
                            background-color: transparent;
                            border-bottom: 2px solid #689775;
                            color: #689775;
                            // background-image: url("../data/noise-texture-100x100.png");
        
                        }
                    }
                }
            }
        }

        //HomePage
        .home {
            background-color: $background;

            .title {
                display: flex;
                font-size: 40px;
                justify-content: center;
                padding: 20px;
                font-weight: 700;
                color: #df4938;
            }
            .posts {
                // margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 50px;
                padding: 30px;
                
                .post {
                    // background-color: $contentBackground;
                    display: flex;
                    border-bottom: 3px solid white;
                    gap: 100px;
                    padding: 20px 20px 50px 20px;
                    // border-radius: 8px;

                    &:nth-child(2n+1){
                        flex-direction: row-reverse;
                    }
                }

                .img {
                    flex: 2;
                    position: relative;
                    img {
                        max-width: 100%;
                        height: auto;
                        object-fit: cover;
                        border: 4px double #df4938;
                        &:hover{
                            border: 4px double #689775;
                            cursor: pointer;
                        }
                    }
                }

                .content {
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 10px;
                    a{
                        color: #df4938;
                        text-decoration: none;
                    } 
                    h1{
                        font-size: 25px;
                        &:hover {
                            color: #689775;
                        }
                    }

                    p{
                        font-size: 16px;
                        color: #e6e5e1;
                        text-align: justify;
                    }

                    .button {
                        border: 1px solid #689775;
                        // border-style: double;
                        // color: $fontColor;
                        color: #689775;
                        width: max-content;
                        background-color: $background;
                        padding: 10px;
                        cursor: pointer;
                        font-size: 15px;
                        // border-radius: 8px;
                        margin-top: 16px;
                        &:hover{
                            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                            box-shadow: inset 10px 0 0 0 #689775;
                            // background-color: $fontColor
                            background-color: #689775;
                            color: $background;
                        }
                    }
                }

            }
        }

        //Content
        .content {
            background-color: $background;
            .container {
                // background-color: $background;
                display: flex;
                flex-direction: row;
                gap: 20px;
                
                .main {
                    flex : 3;
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    // gap: 20px;
                    border-right: 3px solid #689775;
                    img {
                        max-width: 80%;
                        align-self: center;
                        height: auto;
                        object-fit: cover;
                        padding-bottom: 50px;
                    }
                    .title {
                        color: #ff4330;
                        font-size: 35px;
                    }
                    .desc {
                        color: #e6e5e1;
                        font-size: 16px;
                        text-align: justify;
                        font-weight: 300;

                        a {
                            color: #689775;
                        }

                        img {
                            max-width: 80%;
                            height: auto;
                            position: relative;
                        }
                    }
                }
                .side {
                    position: sticky;
                    top: 0;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    // padding: 20px;
                    gap: 10px;
                    span {
                        font-size: 30px;
                        color: #689775;
                        text-align: center;
                        padding: 10px;
                    }
                    .other{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding-bottom: 20px;
                        .img{
                            display: flex;
                            // justify-self: center;
                            justify-content: center;
                            a {
                                text-align: center;
                            }
                            img{
                                width: 200px;
                                // justify-content: center;
                                max-width: 70%;
                                height: auto;
                                border: 2px solid #ff4330;
                                cursor: pointer;
                                // object-fit: cover;
                                &:hover {
                                    border: 2px solid #689775;
                                }
                            }
                        }
                        .title{
                            font-size: 16px;
                            text-align: center;
                            color: #ff4330;
                            cursor: pointer;
                            &:hover {
                                color: #689775;
                            }
                        }
                    }

                }
            }
        }

        //Contact Me
        .contact {
            background-image: url("../data/assets/noise-texture-100x100.png");
            display: flex;
            // flex-direction: row;
            text-align: center;
            flex-direction: column;
            background-color: $background;
            width: 100%;
            height: 90vh;
            justify-content: center;
            gap: 100px;
            .title{
                font-size: 60px;
                color: #df4938;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-self:inherit;
            }
            .links {
                display: flex;
                flex-direction: row;
                height: 50px;
                // justify-content: center;
                align-self: center;
                gap: 50px;
            }
            .link{
                background-color: transparent;
                align-self: center;
                border: 1px solid #689775;
                color: #689775;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 10px;
                padding: 10px;
                text-align: center;
                font-size: 30px;
                font-weight: 300;
                text-decoration: none;
                // padding: 20px;
                border-radius: 10px;
                cursor: pointer;
            }
            .Email{
                &:hover{
                    color: #1a1a1d;
                    background-color:#2262ac
                }
            }
            .LinkedIn {
                &:hover{
                    color: #e6e5e1;
                    background-color:#0A66C2
                }
            }
            .WhatsApp {
                &:hover {
                    color: #1a1a1d;
                    background-color: #0DC242;
                }
            }
            .Github {
                &:hover {
                    color: #e6e5e1;
                    background-color: #1a1a1d;
                }
            }
        }

        //Footer
        footer{
            height: 50px;
            background-color: #df4938;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            .reach {
                text-align: center;
                color: #e6e5e1;
                font-size: 20px;
            }
            .logos{
                align-self: center;
                display: flex;
                flex-direction: row;
                gap: 100px;
                
                .logo {
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    gap: 5px;
                    align-items: center;
                    a {
                        text-decoration: none;
                        color: black;
                        &:hover{
                            color: #e6e5e1;
                        }
                    }
                }
            }
        }

        // LOADING
        .loading {
            background-image: url("../data/assets/noise-texture-100x100.png");
            display: flex;
            background-color: $background;
            width: 100%;
            height: 100vh;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            span {
                font-size: 30px;
                color: #e6e5e1;
            }
            
            .progress {
                position: relative;
                height: 10px;
                width: 20%;
                border: 10px solid #ff4330;
                border-radius: 15px;

                .color{
                    position: absolute;
                    background-color: #ffffff;
                    width: 0px;
                    height: 10px;
                    border-radius: 15px;
                    animation: progres 3.5s infinite linear;    
                }
            }
            @keyframes progres{
                0%{
                  width: 0%;
                }
                25%{
                    width: 50%;
                }
                50%{
                    width: 75%;
                }
                75%{
                    width: 85%;
                }
                100%{
                    width: 100%;
                }
            };
        }

    }
}